@section Styles {
    <style>
        .wrapper {
            margin-top: 20px;
        }

        .release-date {
            width: 108px;
        }

        .description-list {
            list-style-type: none;
            padding: 0;
        }

        .vertical-align {
            vertical-align: middle !important;
        }

        .middle-align {
            vertical-align: middle !important;
            text-align: center !important;
        }

        .rating .glyphicon {
            font-size: 1.5em;
        }

        .total-rating .glyphicon {
            color: orange;
            font-size: 2em;
        }

        a {
            cursor: pointer;
        }

        .rate-btn span {
            color: orange;
        }

        .rate-btn:hover {
            background-color: orange !important;
        }

        .rate-btn:hover span {
            color: white;
        }

        .participants-ul {
            padding: 0px;
        }

        .participants-ul li {
            list-style-type: none;
        }

        .poster-heading {
            height: 450px !important;
            background-position: center;
            background-image: url('/images/posters/fb-and-wft.jpg') !important;
        }
    </style>
}

@section Scripts {
    <environment names="Development">
        <script src="~/js/controllers/movie.controller.js"></script>
        <script src="~/js/controllers/movie.details.controller.js"></script>
        <script src="~/js/services/movie.service.js"></script>
        <script src="~/js/controllers/people.controller.js"></script>
        <script src="~/js/controllers/people.details.controller.js"></script>
        <script src="~/js/services/people.service.js"></script>
        <script src="~/js/controllers/screenings.controller.js"></script>
        <script src="~/js/controllers/screenings.management.controller.js"></script>
        <script src="~/js/services/screenings.service.js"></script>
        <script src="~/js/directives/movie.file.read.directive.js"></script>
    </environment>
}

<div class="wrapper">
    <div ng-view></div>
</div>
