@section Scripts {
    <environment names="Development">
        <script src="~/js/controllers/movie.controller.js"></script>
        <script src="~/js/controllers/movie.details.controller.js"></script>
        <script src="~/js/services/movie.service.js"></script>
        <script src="~/js/controllers/people.controller.js"></script>
        <script src="~/js/controllers/people.details.controller.js"></script>
        <script src="~/js/services/people.service.js"></script>
        <script src="~/js/controllers/screenings.controller.js"></script>
        <script src="~/js/controllers/screenings.management.controller.js"></script>
        <script src="~/js/services/screenings.service.js"></script>
        <script src="~/js/directives/movie.file.read.directive.js"></script>
    </environment>
}

<div class="wrapper" ng-controller="homeController">
    <div ng-view></div>
</div>
