body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: 
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

.wrapper {
    margin-top: 20px;
}

.release-date {
    width: 108px;
}

.description-list {
    list-style-type: none;
    padding: 0;
}

.vertical-align {
    vertical-align: middle !important;
}

.middle-align {
    vertical-align: middle !important;
    text-align: center !important;
}

.rating .glyphicon {
    font-size: 1.5em;
}

.total-rating .glyphicon {
    color: orange;
    font-size: 2em;
}

a {
    cursor: pointer;
}

.rate-btn span {
    color: orange;
}

.rate-btn:hover {
    background-color: orange !important;
}

.rate-btn:hover span {
    color: white;
}

.participants-ul {
    padding: 0px;
}

.participants-ul li {
    list-style-type: none;
}

.poster-heading {
    height: 450px !important;
    background-position: center;
    background-image: url('/images/posters/fb-and-wft.jpg') !important;
}

.navbar {
    background-color: black;
    border-bottom: none;
    opacity: 0.80;
}

.navbar-fixed-bottom {
    background-color: #323232 !important;
    border-top: gray solid 1px !important;
    opacity: 1;
}

.navbar-nav li {
    border-bottom: transparent 4px solid;
}

.navbar-nav li:hover {
    border-bottom: orangered 4px solid;
}

.navbar-nav li:hover a, .navbar-nav li:hover button {
    color: orangered !important;
}

.navbar-nav a, .navbar-nav button {
    color: gray !important;
    background-color: transparent;
}

.navbar-nav a:active, a:focus, .navbar-nav button:active, .navbar-nav button:focus {
    outline: 0 !important;
}

.navbar-header a, .navbar-header a:hover {
    color: orangered !important;
}

.navbar-toggle {
    border: none;
}

.navbar-toggle:hover, .navbar-toggle:active, .navbar-toggle:focus {
    border: none !important;
    background-color: transparent !important;
}

.navbar-toggle:hover .icon-bar, .navbar-toggle:active .icon-bar, .navbar-toggle:focus .icon-bar {
    background-color: orangered !important;
}

.icon-bar {
    background-color: gray !important;
}
